/*body {*/
/*    display: flex;*/
/*    flex-flow: column nowrap;*/
/*    height: 100vh;*/
/*    max-height: 100vh;*/
/*}*/
.svRow {
    display: flex;
    flex-grow: 1;
    flex-flow: row nowrap;
}

.svColumn {
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;
    }
    
.svPanel{
    overflow:hidden;
    height:100%;
}


/*.svSplitter {*/
/*    flex-grow: 0;*/
/*    background-color: #C0C0C0;*/
/*}*/

.svSplitter:hover {
    background-color: #E0E0E0;
}

.svHorizontal {
    min-width: 100%;
    min-height: 8px;
    cursor: row-resize;
}

.svVertical {
    min-width: 8px;
    min-height: 100%;
    cursor: col-resize;
}
.svHorizontal.svSplitter {
    min-width: 100%;
    min-height: 8px;
    max-height:8px;
    cursor: row-resize;
    background-color: #C0C0C0;

}

.svVertical.svSplitter {
    min-width: 8px;
    max-width: 8px;
    min-height: 100%;
    cursor: col-resize;
    background-color: #C0C0C0;
}